# ==============================================================================
# AMBIENTE E CACHE
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
.ipynb_checkpoints/
.vscode/
.idea/

# ==============================================================================
# DATI MEDICI (SENSITIVE - NON CARICARE MAI)
# ==============================================================================
data/
datasets/
raw_data/
*.csv
*.dcm
*.nii.gz
*.xlsx
*.parquet
*.zip
*.tar.gz

# ==============================================================================
# MODELLI E PESI (Gestione Selettiva)
# ==============================================================================
# 1. Di base, ignoriamo i file di modelli pesanti ovunque...
*.pth
*.joblib
*.pkl
*.h5

# 2. ...MA facciamo un'eccezione per la tua cartella ufficiale di produzione!
!models_saved/
!models_saved/*

# ==============================================================================
# WEB APP & LOGS
# ==============================================================================
.streamlit/secrets.toml
static/uploads/
*.log
.env
kaggle.json

# Documentazione pesante
*.pdf
*.docx

### LaTeX ###
# File principali di ausilio alla compilazione
*.aux
*.log
*.out
*.toc
*.synctex.gz

# File relativi alla bibliografia (se usata)
*.bbl
*.blg

# File generati da pacchetti specifici (es. hyperref, beamer)
*.nav
*.snm
*.vrb

# File di stato di latexmk (spesso usato per automatizzare la compilazione)
*.fdb_latexmk
*.fls
